# Supermarket EDA

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
mon = pd.read_csv('data/monday.csv', sep=';', index_col=0, parse_dates=True)
tue = pd.read_csv('data/tuesday.csv', sep=';', index_col=0, parse_dates=True)
wed = pd.read_csv('data/wednesday.csv', sep=';', index_col=0, parse_dates=True)
thu = pd.read_csv('data/thursday.csv', sep=';', index_col=0, parse_dates=True)
fri = pd.read_csv('data/friday.csv', sep=';', index_col=0, parse_dates=True)

In [3]:
def new_cust_col(a):
    '''updated the customer columns of a dataframe adding the weekly day'''
    lst = ['m_','tu_','w_','th_','fr_']
    wd = a.index[1].weekday()
    a['cust_no'] = lst[wd]+a['customer_no'].astype('str')
    a.drop('customer_no', axis=1, inplace=True)
    return a

In [4]:
mon = new_cust_col(mon)
tue = new_cust_col(tue)
wed = new_cust_col(wed)
thu = new_cust_col(thu)
fri = new_cust_col(fri)

                     location  cust_no
timestamp
2019-09-06 07:00:00     dairy     fr_1
2019-09-06 07:00:00    drinks     fr_2
2019-09-06 07:00:00     fruit     fr_3
2019-09-06 07:01:00  checkout     fr_2
2019-09-06 07:01:00    drinks     fr_4
...                       ...      ...
2019-09-06 21:50:00     dairy  fr_1500
2019-09-06 21:50:00  checkout  fr_1507
2019-09-06 21:50:00  checkout  fr_1508
2019-09-06 21:50:00    drinks  fr_1509
2019-09-06 21:50:00    spices  fr_1510

[5125 rows x 2 columns]